<!-- Banner uno principal -->
<div class="container-banner__img">
    <img src="/images/banner-principal-1.jpg" alt="banner-principal-1">
    <img src="/images/imagen-home-banner-1-mobile.jpg" alt="imagen-home-banner-1-mobile">
    <a href="/products"><button class="container-banner-button">Tienda</button></a>
</div>