<div class="footer-info">
  <h3>Contacto</h3>
  <ul class="footer-bottom-img">
    <li>
      <span class="footer-bottom-icon"><img src="/images/whatsapp.svg" alt="logo-whatsapp" /><a class="footer-contact" href="#">+549 351
          246225</a></span>
    </li>
    <li>
      <span class="footer-bottom-icon"><img src="/images/phone-solid.svg" alt="logo-phone" /><a class="footer-contact" href="#">+54 351
          4658983</a></span>
    </li>
    <li>
      <span class="footer-bottom-icon"><img src="/images/envelope-regular.svg" alt="logo-mail" /><a class="footer-contact"
          href="#">grupo1@digitalhouse.com</a></span>
    </li>
  </ul>
</div>
<div class="footer-info">
  <h3>Centro de Ayuda</h3>
  <ul class="footer-bottom">
    <li><a class="footer-contact" href="#">Envios</a></li>
    <li><a class="footer-contact" href="#">Cambios</a></li>
    <li><a class="footer-contact" href="#">Preguntas Frecuentes</a></li>
  </ul>
</div>
<div class="footer-info">
  <h3>Redes</h3>
  <ul class="footer-bottom-img">
    <li>
      <span class="footer-bottom-icon"><img src="/images/instagram.svg" alt="instagram" /><a class="footer-contact"
          href="#">@grupo01-maunganui</a></span>
    </li>
    <li>
      <span class="footer-bottom-icon"><img src="/images/facebook.svg" alt="facebook" /><a class="footer-contact"
          href="#">@grupo01-maunganui</a></span>
    </li>
    <li>
      <span class="footer-bottom-icon"><img src="/images/github.svg" alt="github" /><a class="footer-contact"
          href="#">/0623CIFSNCN05LAED/grupo-01</a></span>
    </li>
  </ul>
</div>