<!-- Vitrina numero 2 ofertas Sale Products-->
<section class="section-title__container">
<!--     <h2>Ofertas</h2>
</section class="section">
</section class="section">
<section class="section-product__container">
    
        <div class="section-product">
            <a href="/products/details-product/">
                <img class="section-product__img" src="/images/products/" alt="">
            </a>
            <h3></h3>
            <p><</p>
        </div>
    
    <button class="product-slider__button" id="nextButton2"><img src="/images/arrow-right-solid.svg" alt="next-image"></button> -->
</section>