
.form-regis-title{
    font-size: 18px;
}
.sectregis {
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    width: 270px;
    margin: 20px auto
}
label{
    font-size: 14px;
}
.button {
    
    width: 140px;
    height: 30px;    
    border: 2px #D27685 solid;
    background: rgba(107, 104, 132, 0.55);
    color: white;
    margin-top: 20px;
    margin-bottom: 16px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition:  0.3s ease-in-out;
    
}
.button:hover{
    background: linear-gradient(131deg, #D27685 0%, rgba(102, 52, 127, 0.55) 100%);
}
.style-box{
    height: 30px;
    background-color: #d2768587; 
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 8px;
}
.df{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
   }
.df-align-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-imputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
       gap: 8px;
}
.form-regis {
    height:500px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
     background: #37306B;
    padding: 10px 20px;
    
    color: white;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
opacity: 3;

}
.sectregis-img-dt{
    display: none;
}



/* tablet*/
@media (min-width:768px){
.sectregis{ 
    flex-direction: row;
    
}
.sectregis-img-mb{
  display: none;  
}
.sectregis-img-dt{
    display: block;
    clip-path: inset(0px 0px 145px 0px);
    width: 430px;
    border-radius: 5px 5px 5px 5px;

}

}
