:root {
  --violet: #37306b;
  --white: #ffffff;
  --purple: #66347f;
  --rose: #9e4784;
  --salmon: #d27685;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans";
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
}

.left-form {
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
  background: #37306b url("../images/banner-formulario-log-in.jpg") no-repeat
    center;
  background-size: cover;
}

.right-form {
  width: 50%;
  height: 100%;
  margin: 0;
  float: left;
  background-color: var(--violet);
  display: flex;
  justify-content: center;
}

.right-form form {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-forgot-password {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 5px;
}
.controles {
  width: 100%;
  border: 1px solid #37306b;
  margin-bottom: 11px;
  padding: 11px 10px;
  background-color: #9e4784;
  border-radius: 20px;
}

.boton {
  width: 100%;
  height: 40px;
  background: #d27685;
  border: none;
  color: white;
  margin-bottom: 16px;
  border-radius: 20px;
}
.right-form p {
  height: 40px;
  text-align: center;
}

.right-form a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.right-form a:hover {
  text-decoration: underline;
}

/* tablet*/
@media (max-width: 520px) {
  .left-form {
    width: 0;
    height: 0;
    overflow: hidden;
    float: left;

    background-size: cover;
  }

  .right-form {
    width: 100%;
  }
}
@media (max-width: 769px) {
  .input-login {
    display: flex;
    flex-direction: column;
  }
}
