.main-container{
    width: auto;
    padding: 20px;
}
.user-info__container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
#custom-file-input{
   width: 90px;
}
.user-info__leftColumn{
    padding: 15px;
    background-color: var(--violet);
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 8px;
    align-items: center;
}
.user-info__edition-2{
    padding: 10px 0px;
    border-radius: 15px;
    gap: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: white;
}
.user-info__section-container{ 
    width: -webkit-fill-available;
}

.user-info__edition-3{
    color: white;
    background-color: var(--violet);
    border-radius: 8px;
    padding: 25px 15px;
}
.user-info__edition-3 section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.user-info__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}
.user-info_{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user-info_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-user__profile{
    border-radius: 8px;
    padding: 25px 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--violet);
    gap: 10px;
}
.info-user__profile div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 200px;
    align-items: center;
}

.info-user__profile div button{
margin-top: 27px;
}
.photo-user{
    padding: 20px 30px;
    border-radius: 8px;
    background-color: var(--violet);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}
.photo-user form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-user::before{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.photo-user div{
    width: 100px;
    height: 100px;
    /* display: inline-block; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    position:relative;
   
}
.user-info_imgInput[type="file"]{
    width: 100%;
    height: 100%;
    /* display: inline-block; */
    content-visibility: hidden;
    background-size: contain;
    border-radius: 50px;
    position: absolute;
    right: 0px; 
    z-index: 100;
    border: 2px #D27685 solid;
}
.photo-user img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
}
.user-info__leftColumn ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.user-info__leftColumn ul li a{
    cursor: pointer;
    color: white;
}
.user-info__leftColumn hr{
    width: 100%;
}
.user-info__rightColumn{
    display: flex;
    flex-direction: column;
}

/* Responsive */
@media (min-width: 768px){
    .user-info_{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .user-info__form{
        flex-direction: row;
    }
    .user-info__container, .user-info__edition-2{
        flex-direction: row;
    }
    .user-info__edition-3 section{
        flex-direction: row;
    }
}
@media (min-width: 425px) and (max-width: 500px){
    .style-box{
        width: 280px;
    }
}
@media (min-width: 501px) and (max-width: 767px){
    .style-box{
        width: 360px;
    }
}
@media (min-width: 1024px){
    .user-info__rightColumn{
        width: 700px;
    }
}