<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <title>Maunganui Tienda</title>
</head>

<body>
    <!-- Header and NavBar -->
    <header class="header-container">
        <div class="header-logo">
            <a href="#"><img  src="/images/logo-desktop.png" alt="logo-maunganui" srcset=""></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Hombres</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Sucurlales</a></li>
            </ul>
            <div class="header-container-user__icons">
                <div class="header-cart__icon">
                    <a href="#"><span><i class="fa-solid fa-cart-shopping"></i></span></a>
                </div>
                <div class="header-user__icon">
                    <a href="/login"><span><i class="fa-solid fa-user-astronaut"></i></span></a>
                </div>
                <div class="header-menu__icon">
                    <a href="#"><span><i class="fa-solid fa-bars"></i></span></a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="container">
        <div class="container-banner__img">
            <img src="/images/imagen-home-banner-1-mobile.jpg" alt="imagen-home-banner-1-mobile">
            <button class="container-banner-button">Mujer</button>
            <button class="container-banner-button">Hombre</button>
        </div>
        <section class="section-title__container">
            <h2>DESTACADOS</h2>
        </section class="section">
        <section class="section-product__container">
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="section-product">
                        <a href="#">
                            <img class="section-product__img" src="/images/producto-1-vitrina-1.jpg" alt="">
                        </a>
                        <h3>Campera Universitaria</h3>
                        <p>$ 80.000 </p>
                    </div>
                    <div class="section-product">
                        <a href="#">
                            <img class="section-product__img" src="/images/producto-2-vitrina-1.jpg" alt="">
                        </a>
                        <h3>Conjunto Denim</h3>
                        <p>$ 90.000</p>
                    </div>
                    <div class="section-product">
                        <a href="#">
                            <img class="section-product__img" src="/images/producto-3-vitrina-1.jpg" alt="">
                        </a>
                        <h3>Blusa Animal Print</h3>
                        <p>$ 30.000</p>
                    </div>
                </div>
            </div>
            <button class="product-slider__button" id="nextButton"><img src="/images/arrow-right-solid.svg" alt="next-image"></button>
        </section>
    </main>


    <!-- Footer -->
    <footer class="footer">
        <div class="footer-info">
            <h3>Contacto</h3>
            <ul class="footer-bottom-img">
                <li><span><img src="/images/whatsapp.svg" alt="logo-whatsapp"><a class="footer-contact" href="#">+549 351 246225</a></span></li>
                <li><span><img src="/images/phone-solid.svg" alt="logo-phone"><a class="footer-contact" href="#">+54 351 4658983</a></span></li>
                <li><span><img src="/images/envelope-regular.svg" alt="logo-mail"><a class="footer-contact" href="#">grupo1@digitalhouse.com</a></span></li>
            </ul>
        </div>
        <div class="footer-info">
            <h3>Centro de Ayuda</h3>
            <ul class="footer-bottom">
                <li><a class="footer-contact" href="#">Envios</a></li>
                <li><a class="footer-contact" href="#">Cambios</a></li>
                <li><a class="footer-contact" href="#">Preguntas Frecuentes</a></li>
            </ul>
        </div>
        <div class="footer-info">
            <h3>Redes</h3>
            <ul class="footer-bottom-img">
                <li><span ><img src="/images/instagram.svg" alt="instagram"><a class="footer-contact" href="#">@grupo01-maunganui</a></span></li>
                <li><span ><img src="/images/facebook.svg" alt="facebook"><a class="footer-contact" href="#">@grupo01-maunganui</a></span></li>
                <li><span ><img src="/images/github.svg" alt="github"><a class="footer-contact" href="#">/0623CIFSNCN05LAED/grupo-01</a></span></li>
            </ul>
        </div>
    </footer>

    <script src="/js/index.js"></script>
</body>
</html>
