<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <title>Maunganui Tienda</title>
</head>

<body>
    <!-- Header and NavBar -->
    <header>
        <div class="logo">
            <a href="#"><img class="logo-navbar" src="/images/Logo-desktop.png" alt="logo-maunganui" srcset=""></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Hombres</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Sucurlales</a></li>
            </ul>
        </nav>
        <div>
            <div class="fa-solid">
                <a href="#"><span><i class="fa-solid fa-cart-shopping"></i></span></a>
            </div>
            <div class="fa-solid">
                <a href="#"><span><i class="fa-solid fa-user-astronaut"></i></span></a>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container">
        <div>
            <img class="container-img" src="/images/imagen-home-banner-1-desktop.jpg" alt="imagen-home-banner-1-desktop">
        </div>
        <h2>DESTACADOS</h2>

        <section class="section-container">
            <ul class="section-container__ul">
                <li>
                    <a href="#">
                        <img src="/images/producto-1-vitrina-1.jpg" alt="">
                    </a>
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>$ xx.xxx</p>
                <li>
                <li>
                    <a href="#">
                        <img src="/images/producto-2-vitrina-1.jpg" alt="">
                    </a>
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>$ xx.xxx</p>
                <li>
                <li>
                    <a href="#">
                        <img src="/images/producto-3-vitrina-1.jpg" alt="">
                    </a>
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>$ xx.xxx</p>
                <li>
            </ul>
            
            
        </section>
    </main>


</body>

<footer class="content-info">
    <div class="footer-info">
        <h3>Contacto</h3>
        <ul class="footer-bottom-img ">
            <li><span class="contact"><img src="/images/whatsapp.svg" alt="logo-whatsapp">+549 351 246225</span></li>
            <li><span class="contact"><img src="/images/phone-solid.svg" alt="logo-phone"></span>+54 351 4658983</li>
            <li><span class="contact"><img src="/images/envelope-regular.svg" alt="logo-mail"></span>grupo1@digitalhouse.com</li>
        </ul>
    </div>
    <div class="footer-info">
        <h3>Centro de Ayuda</h3>
        <ul class="footer-bottom ">
            <li><a href="#">Envios</a></li>
            <li><a href="#">Cambios</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
        </ul>
    </div>
    <div class="footer-info">
        <h3>Redes</h3>
        <ul class="footer-bottom-img ">
            <li><span><img src="/images/instagram.svg" alt="instagram"><a href="#">@grupo01-maunganui</a></span></li>
            <li><span><img src="/images/facebook.svg" alt="facebook"><a href="#">@grupo01-maunganui</a></span></li>
            <li><span><img src="/images/github.svg" alt="github"><a href="#">/0623CIFSNCN05LAED/grupo-01</a></span></li>
        </ul>
    </div>
</footer>
</html>
