<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <title>Maunganui Tienda</title>
</head>
<body>
    <section class="form-ingreso">
        <h5><img src="/images/Logo-desktop.png" alt="Maunganui"></h5>
        <input class="controles" type="text" name="Usuario" value=""  placeholder="Usuario">  
        <input class="controles" type="password" name="password" value="" placeholder="Password">
        <input class="boton" type="submit" name="" value="Ingresar">
        <p>
            <a href="#">Olvidaste tu Password?</a>
            </br><a href="/registro">Registrase</a>
        </p>
    </section>
    
</body>
</html>