<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title>Registro</title>
  </head>

  <body>
    <!--Ventana Modal Register-->
    <div class="content-modal container-register">
      <h2>REGISTRATE</h2>
      
    <form action="register.html" method="POST" id="form">
      <p>
        <label  for="nombre y apellido"> Nombre y Apellido: </label>
        <input class="style-box"
          type="text"
          name="nombre y apellido"
          id="nombre y apellido"
          
        />
      </p>
      <p>
     
</p>
<p>
<label for="telefono"> teléfono: </label>
<input class="style-box"
  type="tel"
  name="telefono"
  id="telefono"
   />
</p>
<p>
    <label for="email"> E-mail: </label>
    <input class="style-box"
      type="email"
      name="email"
      id="email"
       />
    </p>
    <p>
        <label for="contraseña"> Contraseña: </label>
        <input class="style-box"
          type="password"
          name="contraseña"
          id="contraseña"
           />
        </p>
        <p>
            <label for="repcontraseña">  Repetir contraseña: </label>
            <input class="style-box"
              type="password"
              name="repcontraseña"
              id="repcontraseña"
               />
            </p>
            <div class="df">
              
              <button  class="button" type="submit" class="button">GUARDAR</button>
         
          </div>  
          </div>

         
          
        
    </form>
  
   

   
  </body>
</html>