<!DOCTYPE html>

<html lang="es">
<head>
    
   
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/details-product.css">

    <title>Maunganui Tienda</title>
</head>

<body>
    <!-- Header and NavBar -->
    <header class="header-container">
        <%- include("partials/header") %>
    </header>

    <!-- Main Content -->
    <main class="container">
        <div class="breadcrumb">
            <a href="/">Home</a> /
            <span>Campera Universitaria</span>
        </div>
        <div class="container-product">
            <div class="container-product__img">
                <img src="/images/producto-1-vitrina-1.jpg" alt="producto-1-vitrina-1.jpg">
            </div>
            <div class="container-product__info">
                <h3>Campera Universitaria</h3>
                <p>$ 80.000 </p>
                <h4>Color: Yellow</h4>
                <section class='container-product__colors'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="25" viewBox="0 0 128 25" fill="none">
                        <rect width="24.2745" height="24.2745" rx="12.1373" fill="#FDBC41" fill-opacity="0.5"/>
                        <rect x="0.5" y="0.5" width="23.2745" height="23.2745" rx="11.6373" stroke="#15122F" stroke-opacity="0.5"/>
                        <rect x="33.9844" width="24.2745" height="24.2745" rx="12.1373" fill="#FD2C2C" fill-opacity="0.5"/>
                        <rect x="34.4844" y="0.5" width="23.2745" height="23.2745" rx="11.6373" stroke="#15122F" stroke-opacity="0.5"/>
                        <rect x="69.1824" width="24.2745" height="24.2745" rx="12.1373" fill="#03C819" fill-opacity="0.5"/>
                        <rect x="69.6824" y="0.5" width="23.2745" height="23.2745" rx="11.6373" stroke="#15122F" stroke-opacity="0.5"/>
                        <rect x="103.167" width="24.2745" height="24.2745" rx="12.1373" fill="#B8A6D2" fill-opacity="0.5"/>
                        <rect x="103.667" y="0.5" width="23.2745" height="23.2745" rx="11.6373" stroke="#15122F" stroke-opacity="0.5"/>
                        </svg>
                </section>
                <section class="container-product__thumbnails">
                    <img src="/images/producto-1-vitrina-1-color-amarilla.jpg" alt="">
                    <img src="/images/producto-1-vitrina-1-color-rojo.jpg" alt="producto-1-vitrina-1-color-rojo">
                    <img src="/images/producto-1-vitrina-1-color-verde.jpg" alt="producto-1-vitrina-1-color-verde">
                    <img src="/images/producto-1-vitrina-1-color-lila.jpg" alt="producto-1-vitrina-1-color-lila">
                </section>
                <h6>Please select your size:</h6>
                <div class="container-product__size-buttons">
                    <button class="size-button">XS</button>
                    <button class="size-button">S</button>
                    <button class="size-button">M</button>
                    <button class="size-button">L</button>
                    <button class="size-button">XL</button>
                </div>
                <div class="container-product__shop-buttons">
                    <button class="shop-button">COMPRAR AHORA</button>
                </div>
            </div>
        </div>

        <!-- Vitrina numero 2 ofertas -->
        <section class="section-title__container">
            <h2>Ofertas</h2>
        </section class="section">
    </section class="section">
    <section class="section-product__container">
        <div class="slider">
            <div class="slider-wrapper2">
                <div class="section-product2">
                    <a href="#">
                        <img class="section-product__img" src="/images/producto-1-vitrina-2.jpg" alt="">
                    </a>
                    <h3>Campera Universitaria</h3>
                    <p>$ 80.000 </p>
                </div>
                <div class="section-product">
                    <a href="#">
                        <img class="section-product__img" src="/images/producto-2-vitrina-2.jpg" alt="">
                    </a>
                    <h3>Conjunto Denim</h3>
                    <p>$ 90.000</p>
                </div>
                <div class="section-product">
                    <a href="#">
                        <img class="section-product__img" src="/images/producto-3-vitrina-2.jpg" alt="">
                    </a>
                    <h3>Blusa Animal Print</h3>
                    <p>$ 30.000</p>
                </div>
            </div>
        </div>
        <button class="product-slider__button" id="nextButton2"><img src="/images/arrow-right-solid.svg" alt="next-image"></button>
    </section>

            <!-- Banner secundario -->
            <div class="container-banner__img">
                <img src="/images/banner-principal-1.jpg" alt="banner-principal-1">
                <img src="/images/imagen-home-banner-1-mobile.jpg" alt="imagen-home-banner-1-mobile">
                <button class="container-banner-button">Ofertas</button>
            </div>

    </main>


    <!-- Footer -->
    <footer class="footer">
        <%- include("partials/head") %>
    </footer>

    <script src="/js/index.js"></script>
</body>
</html>
