<!DOCTYPE html>
<html lang="es">
<head>

    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/login.css">

    <title>Maunganui Tienda</title>
</head>
<body>
    <section class="left-form">

    </section>
    <section class="right-form">
        <form  action = "/users/login" method="POST">
        <h5><a href="#"><img src="/images/logo-desktop.png" alt="Maunganui"></a></h5>
        <div class="input-login">
            <input class="style-box" type="text" name="email" value=""  placeholder="Tu Email" value="<%= oldData ? oldData.email : "" %>">
            <% if (errors && errors.email) { %>
                <p class="errorstyle"><%= errors.email.msg %></p>
            <% } %>

            <input class="style-box" type="password" name="password" value="" placeholder="Tu contraseña">
            <% if (errors && errors.password) { %>
                <p class="errorstyle"><%= errors.password.msg %></p>
            <% } %>
        </div>
        <!-- <input class="boton" type="submit" name="" value="Ingresar"> -->
        <button class="boton" type="submit">Ingresar</button>

        <label for="recordame"><input type="checkbox" name="recordame"> Recordame </label>
        <p>
            <a href="/users/forgot-password">Olvidaste tu Password?</a>
            </br><a href="/users/register">Registrase</a>
        </p>
    </form>
    </section>
    
</body>
</html>