<!DOCTYPE html>
<html lang="es">
<head>

    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/login.css">

    <title>Maunganui Tienda</title>
</head>
<body>
    <section class="left-form">

    </section>
    <section class="right-form">
        <form  action = "/users/login" method="POST">
            <h5><a href="/"><img src="/images/logo-desktop.png" alt="Maunganui"></a></h5>
            <input class="controles" type="text" name="email" placeholder="email">  

            <input class="controles" type="password" name="password" placeholder="Password">
            <!-- <input class="boton" type="submit" name="" value="Ingresar"> -->
            <button class="boton" type="submit">Ingresar</button>
            <p>
                <a href="/users/forgot-password">Olvidaste tu Password?</a>
                </br><a href="/users/register">Registrase</a>
            </p>
    </form>
    </section>
    
</body>
</html>