<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head") %>
        <title>Formulario del Creación de Producto</title>
</head>

<body>
    <!-- Header and NavBar -->
    <header class="header-container">
        <%- include("partials/header") %>
    </header>

    <!-- Product Form -->
    <form class="form-container" action="/products" method="POST" enctype="multipart/form-data">
            <h2 class="form-container__title">Formulario de CREACIÓN de producto</h2>
        <div class="form-inputs__container">
            <label for="name">Nombre del Producto:</label>
            <input type="text" name="name" id="name" placeholder="Ej: Camiseta blanca" required>
            <label for="price">Precio del Producto:</label>
            <input type="number" name="price" id="price" placeholder="Ej: $ 45000" required>
            <label for="discount">Descuento:</label>
            <input type="number" name="discount" id="discount" placeholder="Ej: Camiseta blanca" required>
            <label for="category">Categoria:</label>
            <select name="category" id="category">
                <option value="women">Female</option>
                <option value="men">Male</option>
            </select>
            <!--             <div class="perfil-user">
                    <div class="perfil"><strong>Nombre del producto</strong></div>
                    <div class="">
                        <input type="radio" name="buyer" id="buyer" value="comprador" required>Comprador
                        <input type="radio" name="saler" id="saler" value="comprador" required>Vendedor
                    </div>
                </div> -->
            
            <h2 class="form-container__title">Clasificación del producto:</h2>
            <div class="form-container__type-product">
                <input type="checkbox" name="oferta" id="oferta" value="oferta">
                <label for="oferta"><p>Oferta</p></label>
                <input type="checkbox" name="destado" id="destacado" value="destacado" required>
                <label for="destacado"><p>Destacado</p></label>
            </div>
                        <div class="photo-user">
                <input type="file" name="image" id="photBtno">
                <label class="photo" type="button" for="image" id="photoBtn"><i class="fa-solid fa-upload"></i> Subir Foto</label>
            </div>
            
                <h2 class="form-container__title">Descripción del producto...</h2>
                <textarea class="form-input" name="description" id="description" placeholder="Características del producto"></textarea>
        </div>
        <div class="buttons">
            <button type="submit" href="/home.html">Guardar Producto</button>
            <button type="reset">Reset</button>
        </div>
    </form>
    <!-- /Product Form -->

    <!-- Footer -->
    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>

</html>