<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Formulario del Creaci칩n de Producto</title>
</head>
<body>
    <!-- Header and NavBar -->
    <header class="header-container">
        <%- include("partials/header") %>
    </header>

    <!-- Product Form -->
    <form action="/products" method="POST" enctype="multipart/form-data" class="formulario">
        <fieldset>
            <legend><strong>Est치s editando: PRODUCT NAME </strong></legend>
            <div class="name">
                <label for="name"><strong>Nombre del Producto:</strong></label>
                <input type="text" name="name" id="name" placeholder="Ej: Camiseta blanca" required>
                <label for="price"><strong>Precio del Producto:</strong></label>
                <input type="number" name="price" id="price" placeholder="Ej: $ 45000" required>
            </div>
            <div class="name">
                <label for="discount"><strong>Descuento:</strong></label>
                <input type="number" name="discount" id="discount" placeholder="Ej: Camiseta blanca" required>
                <label for="price"><strong>Categoria:</strong></label>
                <select name="category" id="category">
                    <option value="female">Memale</option>
                    <option value="male">Male</option>
                </select>
            </div>
<!--             <div class="perfil-user">
                <div class="perfil"><strong>Nombre del producto</strong></div>
                <div class="">
                    <input type="radio" name="buyer" id="buyer" value="comprador" required>Comprador
                    <input type="radio" name="saler" id="saler" value="comprador" required>Vendedor
                </div>
            </div> -->
            <div class="category"><strong>Clasificaci칩n del producto:</strong></div>
                <div class="group-category">
                    <input type="checkbox" name="oferta" id="oferta" value="oferta">
                    <label for="oferta">Oferta</label>
                </div>
            <div class="group-category">
                <input type="checkbox" id="destacado" value="destacado" required>
                <label for="destacado">Destacado</label>
            </div>
            <div class="photo-user">
                <input type="file" name="photo" id="photBtno">
                <label class="photo" type="button" id="photoBtn"><i class="fa-solid fa-upload"></i> Subir Foto</label>
            </div>
            <div class="group-category">
                <label for="description">Descripci칩n del producto...</label>
                <textarea class="form-input" name="description" id="description" ></textarea>
            </div>
            <div class="buttons">
                <button type="submit" href="/home.html">Crear Producto</button>
                <button type="reset">Reset</button>
            </div>

        </fieldset>
    </form>
    <!-- /Product Form -->

    <!-- Footer -->
    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>