<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Formulario del Producto</title>
</head>
<body>
    <!-- Header and NavBar -->
    <header class="header-container">
        <%- include("partials/header") %>
    </header>

    <!-- Product Form -->
    <form action="/products" method="POST" enctype="multipart/form-data" class="formulario">
        <fieldset>
            <legend><strong>Información del Producto</strong></legend>
            <div class="name">
                <input type="text" name="name" id="name" placeholder="Tablet Lenovo Tab P11 Pro" required>
            </div>
            <div class="perfil-user">
                <div class="perfil"><strong>Perfil de Usuario</strong></div>
                <div class="">
                    <input type="radio" name="buyer" id="buyer" value="comprador" required>Comprador
                    <input type="radio" name="saler" id="saler" value="comprador" required>Vendedor
                </div>
            </div>
            <div class="category"><strong>Categorías</strong></div>
                <div class="group-category">
                    <input type="checkbox" name="electro" id="electro" value="electro">
                    <label for="electro">Electro</label>
                </div>
            <div class="group-category">
                <input type="checkbox"" id="emoda" value="emoda" required>
                <label for="emoda">Moda</label>
            </div>
            <div class="group-category">
                <input type="checkbox" name="hogar" id="hogar" value="hogar" required>
                <label for="hogar">Hogar</label>
            </div>
            <div class="group-category">
                <input type="checkbox" name="jugeteria" id="jugeteria" value="jugeteria" required>
                <label for="jugeteria">Jugetería</label>
            </div>
            <div class="group-category">
                <input type="checkbox" name="health" id="health" value="health" required>
                <label for="health">Vida Sana</label>
            </div>
            <div class="photo-user">
                <input type="file" name="photo" id="photBtno">
                <label class="photo" type="button" id="photoBtn"><i class="fa-solid fa-upload"></i> Subir Foto</label>
            </div>
            <div class="password">
                <input type="password" name="password-ml" id="password-ml" placeholder="Contraseña" required>
            </div>
            <div class="re-password">
                <input type="password" name="re-password-ml" id="re-password-ml" placeholder="Confirmar Contraseña" required>
            </div>
            <div class="buttons">
                <button type="submit" href="/home.html">Enviar</button>
                <button type="reset">Reset</button>
            </div>

        </fieldset>
    </form>
    <!-- /Product Form -->

    <!-- Footer -->
    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>