<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="sidebar">
        <h2>Perfil de Usuario</h2>
        <button>Mis Compras</button>
        <button>Carrito</button>
        <button>Medios de Pago</button>
        <button>Editar Mi Perfil</button>
        <button class="logout-button">Salir</button>
       <!--<div class="profile-picture">
            <label for="file-input">
                <img src="https://via.placeholder.com/150" alt="Foto de perfil" id="profile-pic">
                <div>Cambiar Foto de Perfil</div>
            </label>
            <input type="file" id="file-input" accept="image/*" onchange="loadImage(event)">
        </div>--> 
    </div>
    <div class="content">
        <!-- Contenido principal aquí -->
    </div>
    <script src="script.js"></script>
</body>
</html>