        <!-- Banner dos secundario -->
        <div class="container-banner__img">
            <img src="/images/banner-ofertas-1.jpg" alt="banner-ofertas-1">
            <img src="/images/banner-ofertas-mobile-1.jpg" alt="imagen-home-banner-1-mobile">
            <button class="container-banner-button">Ofertas</button>
        </div>