<!-- Vitrina numero 1 (Feautured Products) -->
<section class="section-title__container">
    <h2>DESTACADOS</h2>
</section class="section">
<section class="section-product__container">
    <div class="section-product">
        <a href="/details-product">
            <img class="section-product__img" src="/images/producto-1-vitrina-1.jpg" alt="">
        </a>
        <h3>Campera Universitaria</h3>
        <p>$ 80.000 </p>
    </div>
    <div class="section-product">
        <a href="#">
            <img class="section-product__img" src="/images/producto-2-vitrina-1.jpg" alt="">
        </a>
        <h3>Conjunto Denim</h3>
        <p>$ 90.000</p>
    </div>
    <div class="section-product">
        <a href="#">
            <img class="section-product__img" src="/images/producto-3-vitrina-1.jpg" alt="">
        </a>
        <h3>Blusa Animal Print</h3>
        <p>$ 30.000</p>
    </div>
    <div class="section-product">
        <a href="#">
            <img class="section-product__img" src="/images/producto-3-vitrina-1.jpg" alt="">
        </a>
        <h3>Blusa Animal Print</h3>
        <p>$ 30.000</p>
    </div>
    <!-- <button class="product-slider__button" id="nextButton"><img src="/images/arrow-right-solid.svg" alt="next-image"></button> -->
</section>