<!-- Vitrina numero 1 (Feautured Products) -->
<section class="section-title__container">
    <h2>DESTACADOS</h2>
</section class="section">
<section class="section-product__container">
    <% inFeatured.forEach(item => { %>
        <div class="section-product">
            <a href="/details-product/<%= item.id %>">
                <img class="section-product__img" src="/images/products/<%= item.image %>" alt="">
            </a>
            <h3><%= item.name %></h3>
            <p><%= item.price %></p>
        </div>
    <% }) %>
    <!-- <button class="product-slider__button" id="nextButton"><img src="/images/arrow-right-solid.svg" alt="next-image"></button> -->
</section>