<!-- Register -->
<div class="overlay" id="overlay">
    <div class="popup-register" id="popup-register">
        <div>
            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup">
                <i class="fas fa-times"></i></a>
            <h2>REGISTRATE</h2>
            <br>
            <img class="clip" src="/images/banner-formulario-registro.jpg" alt="imagen-banner-formulario-registro" />
        </div>

        <br />


        <form action="index.html" method="POST">


            <p>
                <label for="nombre y apellido"> Nombre y Apellido: </label>
                <input class="style-box" type="text" name="nombre y apellido" id="nombre y apellido" />
            </p>
            <p></p>
            <p>
                <label for="telefono"> teléfono: </label>
                <input class="style-box" type="tel" name="telefono" id="telefono" />
            </p>
            <p>
                <label for="email"> E-mail: </label>
                <input class="style-box" type="email" name="email" id="email" />
            </p>
            <p>
                <label for="contraseña"> Contraseña: </label>
                <input class="style-box" type="password" name="contraseña" id="contraseña" />
            </p>
            <p>
                <label for="repcontraseña"> Repetir contraseña: </label>
                <input class="style-box" type="password" name="repcontraseña" id="repcontraseña" />
            </p>
            <div class="df">
                <button class="button" type="submit" class="button">GUARDAR</button>
            </div>
        </form>

    </div>
</div>