<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/forgot-password.css" />

    <title>Maunganui Tienda</title>
  </head>
  <body>
    <section class="left-form"></section>
    <section class="right-form">
      <form action="/users/forgot-password" method="POST">
        <h5>
          <a href="/"><img src="/images/logo-desktop.png" alt="Maunganui" /></a>
        </h5>
        <div class="input-forgot-password">
          <label for="email">Correo electrónico:</label>
          <input class="style-box" type="email" name="email" id="email" />

          <label for="password"> Ingresar nueva contraseña: </label>
          <input
            class="style-box"
            type="password"
            name="password"
            id="password"
          />

          <label for="password_re"> Repetir contraseña: </label>
          <input
            class="style-box"
            type="password"
            name="password_re"
            id="password_re"
          />
        </div>
        <!-- <input class="boton" type="submit" name="" value="Ingresar"> -->
        <button class="boton" type="submit">Cambiar password</button>
        	
        <input class ="boton" type="button" value="Volver" onClick="history.go(-1);"></button>

        <!-- <a href="/users/forgot-password">Olvidaste tu Password?</a>-->
      </form>
    </section>
  </body>
</html>
